# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.env
venv/
env/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Secrets
*.env

# Build files
dist/
build/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db